.button {
    padding: 9px 49px 7px 49px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    background-color: #fff;
    @include with-ripple(#cccccc, #7c7c7c);

    &_colored {
        color: #328afb;
    }

    &_view {
        margin-left: auto;
    }

    &_narrow {
        padding-left: 8px;
        padding-right: 8px;
    }

    &_position {
        margin-right: 24px;
        padding: 9px 32px 7px 34px;
        text-transform: none;
        margin-top: 15px;
    }
}