doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Document
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(rel='stylesheet', href='css/styles.css')

	body
		.card
			h2.card__title Card headline title
			p.card__description.
				Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
			.card__footer
				button.button.button_narrow more info...
				button.button.button_narrow.button_view button
				button.button.button_narrow.button_colored accept

		.card
			p.card__description.
				Cards are a convenient means of displaying content composed of different types of objects.
			button.button.button_position Hurray!

		.card
			.card__header
				h2.card__title.card__title_view Card with image header
			p.card__description.card__description_view.
				Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
			.card__footer
				button.button.button_narrow more info...
				button.button.button_narrow.button_view button
				button.button.button_narrow.button_colored accept

		include example/example

