include components/button/button

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Document
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(rel='stylesheet', href='css/styles.css')

	body
		+button({
			label: "button",
			classes: "button button_colored"
		})
		+button({
			label: "button",
			classes: "button"
		})
		+button({
			label: "button",
			classes: "button"
		})

		.card
			h2.card__title Card headline title
			p.card__description.
				Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
			.footer
				+button({
					label: "more info...",
					classes: "button"
				})
				+button({
					label: "button",
					classes: "button button_view"
				})
				+button({
					label: "accept",
					classes: "button button_colored"
				})