@import './mixins';
@import '../components/button/button';

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    width: 432px;
    padding: 22px 8px 7px 25px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    
    &__description {
        margin-top: 22px;
    }

    .footer {
        margin-top: 20px;
    }

    @include box-shadow-1;
}

.footer {
    border-top: 1px solid #dddddd;
    padding-top: 6px;
    padding-left: 15px;
    margin-left: -25px;
    display: flex;
    justify-content: space-between;
}